<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="andrey.chernikovich.softteco">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true"
                 android:name=".app.App"
                 android:label=""
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">

        <activity android:name=".presentation.screen.first.FirstActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
